
<h2 mat-dialog-title>
    {{data.title}}
</h2>

<mat-dialog-content *ngFor="let field of data.form">
    <mat-form-field [formGroup]="modalForm">
        <mat-label>
            {{field.placeholder}}
        </mat-label>
        <input
            matInput 
            type="text"
            formControlName={{field.formControlName}}
        >
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-flat-button
        (click)="addProduct()"
        mat-dialog-close
        color="primary"
        >
        {{data.actionValue}}
    </button>
    <button
        mat-button
        mat-dialog-close
        >
        Cancel
    </button>
</mat-dialog-actions>