
<h2 mat-dialog-title>
    {{data.title}}
</h2>

<div *ngIf="data.hasOwnProperty('form') else nothing">
    <mat-dialog-content *ngFor="let field of data.form">
        <mat-form-field [formGroup]="modalForm" color={{field.color}}>
            <mat-label>
                {{field.placeholder}}
            </mat-label>
            <input
                matInput 
                type="text"
                formControlName={{field.formControlName}}
            >
        </mat-form-field>
    </mat-dialog-content>
</div>

<ng-template #nothing></ng-template>

<mat-dialog-actions>
    <div class="spacer"></div>
    <button
        mat-button
        mat-dialog-close
        >
        Cancel
    </button>
    <button
        mat-flat-button
        (click)="action(data.snackBarMessage, data.snackBarActionValue)"
        mat-dialog-close
        mat-dialog-close="delete"
        color={{data.actionButtonColor}}
        [disabled]="!modalForm.valid"
        >
        {{data.actionValue}}
    </button>
</mat-dialog-actions>