
<h2 mat-dialog-title>
    {{data.title}}
</h2>

<div *ngIf="data.hasOwnProperty('form') else nothing">
    <mat-dialog-content *ngFor="let field of data.form">
        <form
            [formGroup]="modalForm"
            [ngSwitch]="field.inputType">
            <!-- matinput -->
            <div
                *ngSwitchCase="'input'">
                <mat-form-field 
                    color={{field.color}} >
                    <mat-label>
                        {{field.placeholder}}
                    </mat-label>
                    <input
                        matInput 
                        type="text"
                        formControlName={{field.formControlName}} >
                </mat-form-field>
            </div>

            <!-- mat autocomplete -->
            <div
                *ngSwitchCase="'autoComplete'" >
                <mat-form-field
                    color="field.color">
                    <mat-label>
                        {{field.placeholder}}
                    </mat-label>
                    <input
                        matInput 
                        type="text"
                        formControlName="{{field.formControlName}}"
                        [matAutocomplete]="auto" >
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option 
                            *ngFor="let option of field.options" 
                            [value]="option" >
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- mat select -->
            <div
                *ngSwitchCase="'select'" >
                <mat-form-field
                    color="field.color" >
                    <mat-label>
                        {{field.label}}
                    </mat-label>
                    <mat-select>
                        <mat-option
                            *ngFor="let option of field.options" [value]="option" >
                            {{option}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

        </form>
    </mat-dialog-content>
</div>

<ng-template #nothing></ng-template>

<mat-dialog-actions>
    <div class="spacer"></div>
    <button
        mat-button
        mat-dialog-close
        >
        Cancel
    </button>
    <button
        mat-flat-button
        (click)="action(data.snackBarMessage, data.snackBarActionValue)"
        mat-dialog-close
        mat-dialog-close="delete"
        color={{data.actionButtonColor}}
        [disabled]="!modalForm.valid"
        >
        {{data.actionValue}}
    </button>
</mat-dialog-actions>