/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.table {
    margin: 20px 50px;
    padding: 10px;
}

.mat-icons {
    font-size: 20px;
}
